/* Stylesheet css Datei für Aufgabe6 */

body {
    font-size: 1.0em;
    line-height: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    background-color: dimgray;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 8em;
    max-width: 100%;
    text-align: center;
    border-style: line;
    border-color: black;
    border-width: 10px;
}

header {
    width: 100%;
    background-color: darkslategrey;
    padding: 5px;
    margin-bottom: 5%;
}

.BM{
    width: 35px;
    height: 5px;
    background-color: aliceblue;
    margin: 6px 0;
}

.BM:hover{
    transform: rotate(90dg);
    transition: 300ms;
}
ul {
    position: fixed;
    display: none;
    width: 300px;
    top: 120px;
    left: -20px;
    list-style: none;
    font-size: 130%;
}
.BM {
    width: 35px;
    height: 5px;
    background-color: blueviolet;
    margin: 6px 0;
}
.BM:hover{
    display: block;
}
 ul:hover{
     display: block;
 }


li{
    display: block;
    padding: 2em;
    background-color: aliceblue;
    color: black;
    margin: 0;
}

 li:hover{
    background-color: darkgray;
    position: relative;
    padding: 0 0 0.5em 0;
    display: block;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
}

a{
    color: darkgray;
    border-bottom: 2px solid #03405f;
}

main {
    width:60%;
    margin-left: 20%;
}

h2 {
    text-align: center;
}

section+article {
    width: 50%;
    overflow: hidden;
    overflow-x:hidden;
}


p {
    font-size: 1em;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section {
    background-color: darkred;
    width: 20%;
    height: 30em;
    overflow:auto;
    overflow-x:auto;
    overflow-y:auto;
    margin: 1%;
    float: left;
    padding: 2%;
}

img.content {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid orange;
}
article {
    background-color: rgb(245, 197, 197);
    width: 90%;
}

img{
    height: 123px;
    width: 150px;
    border-width: 5px;
    border-style: groove;
    border-color: darkorange;
    border-radius: 5px;   
}

aside.aside1 {
    background: darkslategray;
    float: left;
    width: 20%;
    padding: 1%;
    position: relative;
    border: darkorange;
    border-style: solid;
    border-width: 2px;
}

aside.aside1:hover {
    padding-left: 4em;
    padding-bottom: 4em;
    right: 2em;
}

footer {
    width: 100%;
    position: static;
    background: darkslategrey;
    float: left;
}