body{
    background-image: url("bg.png")
}

section {
    width: 800px;
    margin: auto;
}

nav{
position: fixed;
top: 0px;
right: 100px;
}

a {
    color: white;
    background: black;
}
a:hover {
    background: orangered;
}
body{
    font-family: sans-serif;
}

header{
    background-color: blanchedalmond;
}