body{
    background-image: url("bg.png")
}

head{
    font-family: sans-serif;
    text-align: center;
}

section {
    width: 800px;
    margin: auto;
}

nav{
position: fixed;
top: 0px;
right: 100px;
}

a {
    color: white;
    background: black;
}
a:hover {
    background: orangered;
}
body{
    font-family: sans-serif;
    text-align: center;
}

h1{
    background: orangered;
    width: 800px;
    margin: auto;
    padding: 80px;
}

h2{
    background: orangered;
    width: 800px;
    margin: auto;
}
