body{
    background-image: url("bg.png")
}

section {
    width: 800px;
    margin: auto;
}

nav{
position: fixed;
top: 0px;
right: 100px;
}

a {
    color: red;
    background: blue;
}
a:hover {
    background: yellow;
}