/* Stylesheet css Datei für Aufgabe3 */

body {
    font-size: 1.0em;
    line-height: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    background-color: dimgray;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 8em;
    max-width: 100%;
    text-align: center;
    border-style: line;
    border-color: black;
    border-width: 10px;
}

header {
    text-align: left;
}

ul {
    text-align: center;
    font-size: 2em;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: white
}

aside {
    clear: left;
    width: 25%;
    overflow: auto;
    float: left;
}
p {
    font-size: 1.5em;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

section {
    background-color: darkred;
    width: 85%;
}

article {
    background-color: snow;
    width: 80%;
}

img{
    height: 123px;
    width: 234px;
    border-width: 5px;
    border-style: groove;
    border-color: darkorange;
    border-radius: 5px;   
}

