
 body {
        background: black; 
        text-align: center;
        overflow: hidden;
        
    
    }
 #order{
        margin-left: auto; 
        margin-right: auto; 
        transform: translate(-50%, -50%);
        width: 480px; 
        left: 50%;
        top: 40%;
        text-align: center;
        overflow: hidden;
        width: 480px; 
        position: absolute; 
    }
.button1{
    height:150px;
    width: 150px;
    background: linear-gradient( #3e4375, #15172b );
    border-radius: 15%;
    margin: 2px;
}
.button2 {
    height:150px;
    width: 150px;
    background: linear-gradient( #3e4375, #15172b );
    border-radius: 15%;
    float: left;
    margin: 2px;
}
.button3 {
    height:150px;
    width: 150px;
    background: linear-gradient( #3e4375, #15172b );
    border-radius: 15%;
    float: left;
    margin: 2px;
}
.button4 {
    height:150px;
    width: 150px;
    background: linear-gradient( #a72e2e, #471010 );
    border-radius: 15%;
    float: left;
    clear: both;
    margin: 2px;
}
.button5 {  
    height:150px;
    width: 150px;
    background: linear-gradient( #a72e2e, #471010);
    border-radius: 15%;
    float: left;
    margin: 2px;
}
.button6 {
    height:150px;
    width: 150px;
    background: linear-gradient( #a72e2e, #471010);
    border-radius: 15%;
    float: left;
    margin: 2px;
}
.button7 {
    height:150px;
    width: 150px;
    background: linear-gradient( #a72e2e, #471010);
    border-radius: 15%;
    float: left;
    clear: both;
    margin: 2px;
}
.button8 {
    height:150px;
      width: 150px;
      background: linear-gradient( #dd4b11, #811a1a);
      border-radius: 15%;
      float: left;
      margin: 2px;
}
.button9 {
    height:150px;
    width: 150px;
    background: linear-gradient( #dd4b11, #811a1a);
    border-radius: 15%;
    float: left;
    margin: 2px;
}

.PlayButton {
    position: fixed; 
    left: 45%; 
    top: 70%;
}