/* Stylesheet css Datei für Aufgabe3 */

body {
    font-size: 1.0em;
    line-height: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    background-color: dimgray;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 8em;
    max-width: 100%;
    text-align: center;
    border-style: line;
    border-color: black;
    border-width: 10px;
}

header {
    width: 100%;
    background-color: darkslategrey;
    padding: 5px;
    margin-bottom: 5%;
}

nav ul{
    text-align: center;
    font-size: 1,5em;
    margin: 0;
    padding: 0;
    color: black;
}

nav li{
    display: inline;
    padding: 2em;
}

nav li{
    color: darkgray;
}

nav li:hover{
    color: darkgray;
}

main {
    width:60%;
    margin-left: 20%;
}

h2 {
    text-align: center;
}

section+article {
    width: 50%;
    overflow: hidden;
    overflow-x:hidden;
}


p {
    font-size: 1em;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section {
    background-color: darkred;
    width: 20%;
    margin: 1%;
    float: left;
    padding: 2%;
}

img.content {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid orange;
}
article {
    background-color: snow;
    width: 80%;
}

img{
    height: 123px;
    width: 130px;
    border-width: 5px;
    border-style: groove;
    border-color: darkorange;
    border-radius: 5px;   
}

aside.aside1 {
    background: darkslategray;
    float: left;
    width: 20%;
    padding: 1%;
    position: relative;
    border: darkorange;
    border-style: solid;
    border-width: 2px;
}

aside.aside1:hover {
    padding-left: 4em;
    padding-bottom: 4em;
    right: 2em;
}

footer {
    width: 100%;
    position: sticky;
    background: snow;
    float: left;
}