body {
    margin: auto;
    text-align: center;
}

div{
    position: relative;
    margin: auto;
    top: 100px;
    height: 500px;
    width: 620px;
}

@media only screen and (max-width: 620px) {
    .smartphone {
        display: block;
    }
    .desktop {
        display: none;
    }
}

@media only screen and (min-width: 640px) and (max-width: 1040px) {
    .smartphone {
        display: none;
    }
    .desktop {
        display: none;
    }
}

@media only screen and (min-width: 1040px) {
    .smartphone {
        display: none;
    }
    .dektop {
        display: block;
    }
}

.desktop {
    position: absolute;
    top: 300px;
}
.smartphone {
    position: absolute;
    top: 320px;
}

h1 {
    position: absolute;
    width: 620px;
    top: 50px;
    text-align: center;
    color:white;
    font-family: fantasy;
    text-decoration: underline;
}

p {
    position: absolute;
    text-align: center;
    font-family: fantasy;
    color: orangered;
    font-size: medium;
    left: 100px;
    top: 200px;
    width: 440px;
}

#winsecond {
    position: absolute;
    left: 100px;
    top: 225px;
}

a {
    position: absolute;
    text-align: center;
    font-family: fantasy;
    color: white;
    font-size: large;
    bottom: 100px;
    left: 0px;
    width: 620px;
}

.question {
    position: absolute;
    width: 620px;
    height: 100px;
    top: 178px;
    left: 0px;
}

#questiontext {
    padding-top: 38px;
}
#question4 {
    left: 124px;
    padding-top: 30px;
    width: 400px;
    line-height: large;
}
a {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: normal;
    padding: 15px 0px;
    text-decoration: none;
}
.Antwort1 {
    position: absolute;
    width: 620px;
    top: 300px;
    left: 0px;
}
.Antwort2 {
    position: absolute;
    width: 620px;
    top: 340px;
    left: 0px;
}
.Antwort3 {
    position: absolute;
    width: 620px;
    top: 380px;
    left: 0px;
}
.Antwort4 {
    position: absolute;
    width: 620px;
    top: 420px;
    left: 0px;
}
.Antwort1:hover, .Antwort2:hover, .Antwort3:hover, .Antwort4:hover {
    background-image: url(answer_over.png);
}