#container { position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    margin: auto;   
  
  
  }
  
  .bg {background-color: #15121a ;}
  
  
  #kick {   
      
      height:150px;
      width: 150px;
      background: linear-gradient( #3e4375, #15172b );
      border-radius: 15%;
      float: left;
      margin: 2px;
        }
          
  #kick:hover {
      background: #231d41;
      background: linear-gradient(top, #3e4375, #28214d);
      
          }
  
  
  #snare {   
      
      height:150px;
      width: 150px;
      background: linear-gradient( #3e4375, #15172b );
      border-radius: 15%;
      float: left;
      margin: 2px;
              }
                
  #snare:hover {
      background: #231d41;
      background: linear-gradient(top, #3e4375, #28214d);
                }
  
  
  #hihat {   
      
        height:150px;
        width: 150px;
        background: linear-gradient( #3e4375, #15172b );
        border-radius: 15%;
        float: left;
        margin: 2px;
        }
                      
  #hihat:hover {
        background: #231d41;
        background: linear-gradient(top, #3e4375, #28214d);
        }            
  
  
  #A {   
      
          height:150px;
          width: 150px;
          background: linear-gradient( #a72e2e, #471010 );
          border-radius: 15%;
          float: left;
          clear: both;
          margin: 2px;
          }
                        
  #A:hover {
          background: #792a2a;
          background: linear-gradient(top, #c24c4c, #310e15);
          }            
  
  
  #C {   
      
       height:150px;
       width: 150px;
       background: linear-gradient( #a72e2e, #471010);
       border-radius: 15%;
       float: left;
       margin: 2px;
            }
                          
  #C:hover {
      background: #792a2a;
      background: linear-gradient(top, #c24c4c, #310e15);
            }            
  
  
  #F {   
      
      height:150px;
      width: 150px;
      background: linear-gradient( #a72e2e, #471010);
      border-radius: 15%;
      float: left;
      margin: 2px;
                   }
                                 
  #F:hover {
      background: #792a2a;
      background: linear-gradient(top, #c24c4c, #310e15);
                   }            
  
  
  #G {   
      
      height:150px;
      width: 150px;
      background: linear-gradient( #a72e2e, #471010);
      border-radius: 15%;
      float: left;
      clear: both;
      margin: 2px;
                         }
                                       
  #G:hover {
      background: #792a2a;
      background: linear-gradient(top, #c24c4c, #310e15);
                         }            
  
  
  #laugh1 {   
      
        height:150px;
        width: 150px;
        background: linear-gradient( #dd4b11, #811a1a);
        border-radius: 15%;
        float: left;
        margin: 2px;
                          
                                             }
                                                           
  #laugh1:hover {
        background: #773006;
        background: linear-gradient(top, #582303, #4b0e1b);
                           }            
  
  
  #laugh2 {   
      
        height:150px;
        width: 150px;
        background: linear-gradient( #dd4b11, #811a1a);
        border-radius: 15%;
        float: left;
        margin: 2px;
                                              
                                                                 }
                                                                               
  #laugh2:hover {
        background: #773006;
        background: linear-gradient(top, #582303, #4b0e1b);
                  }                                     
  
  
  #record {
      
      height:120px;
      width: 120px;
      background: linear-gradient( #0b8d0b, #043613);
      border-radius: 15%;
      float: left;
      clear: both;
      margin: 16px;
      font-size: 70px;
  }
  
  #record:hover {
      background: #10830c;
      background: linear-gradient(top, #1dd81d, #043613);
  }               
     
  
  #playbutton { 
      
      height:120px;
      width: 120px;
      background: linear-gradient( #0b8d0b, #043613);
      border-radius: 15%;
      float: left;
      margin: 16px;
      left: 34%;
      font-size: 70px;
  }
  
  #playbutton:hover {
      background: #10830c;
      background: linear-gradient(top, #1dd81d , #043613);
  }               
  
  
  
  #erase {
      height:120px;
      width: 120px;
      background: linear-gradient( #0b8d0b, #043613 );
      border-radius: 15%;
      float: left;
      margin: 16px;
      left: 34%;
      font-size: 70px;
  }              
  
  #erase:hover {
      background: #10830c;
      background: linear-gradient(top, #1dd81d, #043613);
  }               
  
  #quelle {
      position: absolute;
      left: 50%;
      bottom: -40%;
      transform: translate(-50%, -50%);
      margin: auto;   
      color: white;
  
  }
  
  